DOCKER_SERVER=local
MYSQL_DATABASE=gsknjigovodstvo
MYSQL_SERVER=10.0.75.1
MYSQL_LOGIN=root
MYSQL_LOGIN_PASS=az
PORTAL_MYSQL_DATABASE=gradsko_stanovanje
PORTAL_MYSQL_SERVER=10.0.75.1
PORTAL_MYSQL_LOGIN=root
PORTAL_MYSQL_LOGIN_PASS=az
PROJECT_ROOT=/host_mnt/c/Users/crisper/PhpstormProjects/gsknjigovodstvo
ALLOW_OVERRIDE=true
